@{
    ViewData["Title"] = "Date Me";
}

<div>
    <p>Today is your lucky day! You may have an oppurtunity to date THIS MAN</p>
</div>

<img src="~/img/ColeImage.jpeg" height="400"/>
<br />
<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill Out Application</a>
</div>

<div>
    <a asp-controller="Home" asp-action="WaitList">View Waitlist</a>
</div>